@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;700&family=Big+Shoulders+Display:wght@700&family=Inria+Serif:ital,wght@0,400;0,700;1,300;1,700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Big Shoulders Display', sans-serif;
    font-family: 'Inria Serif', serif;
    font-family: 'Lexend Deca', sans-serif;
}


.container {
    display: flex;
    padding: 3.5rem 0;
    width: 80%;
    margin: auto;
}

.container div {
    width: 100%;
    height: 80vh;
    padding: 3rem;
}

.left {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.center {
    background-color: hsl(184, 100%, 22%);
}

.right {
    background-color: hsl(179, 100%, 13%);
    border-end-end-radius: 10px;
    border-start-end-radius: 10px;
}




button {
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    margin-top: 4rem;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
}

button:hover {
    border: 1px solid #fff;
    color: #fff;
}

h2 {
    font-size: 40px;
    font-weight: bolder;
    margin: 2rem 0;
    color: #fff;
}

p {
    font-size: 1rem;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 2rem;
}

.btn-1 {
    color: hsl(31, 77%, 52%)
}

.btn-2 {
    color: hsl(184, 100%, 22%);
}


.btn-3 {
    color: hsl(179, 100%, 13%);
}

.btn-1:hover {
    background-color: hsl(31, 77%, 52%);
    ;
}

.btn-2:hover {
    background-color: hsl(184, 100%, 22%);
}


.btn-3:hover {
    background-color: hsl(179, 100%, 13%);
}


.attribution { 
    font-size: 18px;
     text-align: center;
     background-color: hsl(179, 100%, 13%);
     color: #fff;
 }
    .attribution a { 
        color: hsl(228, 45%, 44%);
}



/* Mobile media query for screens 375px or less */
@media (max-width: 375px) {
    .container {
        flex-direction: column;
    }

    .container div {
        width: 100%;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    button {
        margin-top: 2rem;
        padding: 0.5rem 1rem;
    }

    .left {

        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }

    .right {
        border-bottom-left-radius: 10px;
        border-start-end-radius: 0px;

    }

    .attribution { 
        font-size: 14px;
     }

}